<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || "Chess Game" %></title>

  <!-- External Libraries -->
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- CSS File -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="flex items-center justify-center bg-zinc-900 min-h-screen">
    <div class="chessboard"></div>
  </div>

  <!-- JS -->
  <script src="/js/chessgame.js"></script>
</body>
</html>

