









.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 90vmin;
  height: 90vmin;
  max-width: 90vmin;
  max-height: 90vmin;
  border: 4px solid #333;
  box-sizing: border-box;
}

.square {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.piece {
  font-size: 36px;
  cursor: pointer;
}

.piece.white {
  color: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
  color: black;
}

.piece.draggable {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

.flipped {
  transform: rotate(180deg);
}
.flipped .square {
  transform: rotate(180deg);
}
